We start by making the imports.

In [1]:
import pandas as pd

leer el csv

In [7]:
csv = "candidates.csv"
df = pd.read_csv(csv, delimiter = ";")

In [14]:
df.info

<bound method DataFrame.info of        First Name   Last Name                       Email Application Date  \
0      Bernadette   Langworth         leonard91@yahoo.com       2021-02-26
1          Camryn    Reynolds         zelda56@hotmail.com       2021-09-09
2           Larue      Spinka    okey_schultz41@gmail.com       2020-04-14
3            Arch      Spinka      elvera_kulas@yahoo.com       2020-10-01
4           Larue  Altenwerth   minnie.gislason@gmail.com       2020-05-20
...           ...         ...                         ...              ...
49995     Bethany     Shields  rocky_mitchell@hotmail.com       2022-01-09
49996         Era  Swaniawski    dolores.roob@hotmail.com       2020-06-02
49997      Martin       Lakin   savanah.stracke@gmail.com       2018-12-15
49998       Aliya   Abernathy  vivienne.fritsch@yahoo.com       2020-05-30
49999     Coleman      Wisozk   abigayle.crooks@yahoo.com       2022-06-13

                  Country  YOE  Seniority                         Technology  \
0                  Norway    2     Intern                      Data Engineer
1                  Panama   10     Intern                      Data Engineer
2                 Belarus    4  Mid-Level                     Client Success
3                 Eritrea   25    Trainee                          QA Manual
4                 Myanmar   13  Mid-Level  Social Media Community Management
...                   ...  ...        ...                                ...
49995  Dominican Republic   27    Trainee                           Security
49996             Morocco   21       Lead                   Game Development
49997              Uganda   20    Trainee              System Administration
49998      Czech Republic   20     Senior            Database Administration
49999               Palau   15     Intern                           Mulesoft

       Code Challenge Score  Technical Interview Score
0                         3                          3
1                         2                         10
2                        10                          9
3                         7                          1
4                         9                          7
...                     ...                        ...
49995                     2                          1
49996                     1                          2
49997                     6                          1
49998                     0                          0
49999                     3                          1

[50000 rows x 10 columns]>

In [16]:
df.columns

Index(['First Name', 'Last Name', 'Email', 'Application Date', 'Country',
       'YOE', 'Seniority', 'Technology', 'Code Challenge Score',
       'Technical Interview Score'],
      dtype='object')

In [15]:
df.dtypes

First Name                   object
Last Name                    object
Email                        object
Application Date             object
Country                      object
YOE                           int64
Seniority                    object
Technology                   object
Code Challenge Score          int64
Technical Interview Score     int64
dtype: object

In [21]:
pd.unique(df['Technology'])

array(['Data Engineer', 'Client Success', 'QA Manual',
       'Social Media Community Management', 'Adobe Experience Manager',
       'Sales', 'Mulesoft', 'DevOps', 'Development - CMS Backend',
       'Salesforce', 'System Administration', 'Security',
       'Game Development', 'Development - CMS Frontend',
       'Security Compliance', 'Development - Backend', 'Design',
       'Business Analytics / Project Management',
       'Development - Frontend', 'Development - FullStack',
       'Business Intelligence', 'Database Administration',
       'QA Automation', 'Technical Writing'], dtype=object)

In [23]:
df['YOE'].describe()

count    50000.000000
mean        15.286980
std          8.830652
min          0.000000
25%          8.000000
50%         15.000000
75%         23.000000
max         30.000000
Name: YOE, dtype: float64